body {
    font-family: 'Open Sans', sans-serif; /* Меняем шрифт на более современный и округлый */
    background-color: #D4E6F1; /* Светлый фон, гармонирующий с кнопками */
    color: #34495e; /* Цвет текста — тёмно-серый для лучшего контраста */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}
input, textarea, select, button {
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #2980b9; /* Синий цвет заголовка для контраста с фоном */
    margin: 20px 0;
}

/* Адаптивность */
@media (max-width: 600px) {
    body {
        font-size: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 180%; /* Слегка уменьшаем масштаб шрифта для удобства на малых экранах */
    }

    button {
        font-size: 180%; /* Чуть меньшее увеличение размера текста в кнопках */
        padding: 12px 24px; /* Слегка увеличенные отступы для кнопок */
    }

    img {
        width: 80px; /* Уменьшаем размер изображений на мобильных */
        height: 80px;
    }

    input {
        font-size: 75%; /* Уменьшаем размер шрифта в полях ввода */
        padding: 6px;
    }

    table, th, td {
        font-size: 95%; /* Уменьшаем шрифт таблицы для компактного вида на мобильных */
    }
}