/* Стили для страницы логина и регистрации */
form {
    background-color: #2c3e50; /* Темный фон формы */
    padding: 30px; /* Внутренние отступы */
    border-radius: 10px; /* Закругленные углы формы */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Тень для объема */
    max-width: 100%; /* Максимальная ширина формы */
}

.login-container, .register-container {
    background-color: #2c3e50; /* Фон контейнеров */
    padding: 40px; /* Внутренние отступы контейнеров */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Тень для объема */
    text-align: center; /* Выравнивание по центру */
    width: 100%; /* Ширина контейнеров */
    max-width: 400px; /* Максимальная ширина 400px */
    margin: 0 auto; /* Центрируем по горизонтали */
    margin-top: 50px; /* Отступ сверху */
}

.login-form, .register-form {
    display: flex; /* Флексбокс для формы */
    flex-direction: column; /* Элементы формы располагаются вертикально */
    gap: 20px; /* Расстояние между элементами формы */
}

.login-field, .register-field {
    display: flex; /* Флексбокс для полей формы */
    flex-direction: column; /* Поля располагаются вертикально */
    text-align: left; /* Текст выровнен по левому краю */
    margin-bottom: 15px; /* Отступ снизу у полей */
}

.login-field label, .register-field label {
    color: #ecf0f1; /* Цвет текста светлый */
    margin-bottom: 5px; /* Отступ снизу у меток */
}

.login-field input, .register-field input {
    padding: 10px; /* Внутренние отступы в полях ввода */
    width: 100%; /* Поля ввода занимают всю ширину контейнера */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы полей */
    box-sizing: border-box; /* Включаем отступы и границы в общую ширину */
    font-size: 16px; /* Размер шрифта */
}