.categories, .products {
    display: grid; /* Организует элементы в виде сетки */
    grid-template-columns: repeat(3, 1fr); /* Создает 3 колонки с равной шириной */
    gap: 20px; /* Задает расстояние между элементами сетки */
    margin-top: 30px; /* Отступ сверху для всей сетки */
    width: 100%; /* Ширина сетки на всю страницу */
    max-width: 900px; /* Максимальная ширина 900 пикселей */
    padding: 0 0px; /* Убирает внутренние отступы */
    box-sizing: border-box; /* Включает отступы и границы в ширину/высоту */
}

.category, .product {
    text-align: center; /* Выравнивает текст по центру */
    margin: 20px; /* Внешний отступ для каждого элемента */
}

.category img, .product img {
    width: 100px; /* Ширина изображения 100 пикселей */
    height: 100px; /* Высота изображения 100 пикселей */
    object-fit: cover; /* Изображение пропорционально заполняет рамку */
    border-radius: 10px; /* Скругляет углы изображений */
    border: none; /* Убирает рамку вокруг изображений */
}

.category a, .product a {
    display: block; /* Элемент отображается как блок */
    margin-top: 20px; /* Отступ сверху у ссылок */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color: #ecf0f1; /* Цвет текста ссылок */
    font-size: 18px; /* Размер шрифта текста ссылок */
    outline: none; /* Убирает обводку при фокусе */
    border: none; /* Убирает рамки у ссылок */
}

.category a:hover, .product a:hover, .category img:hover, .product img:hover {
    box-shadow: none; /* Убирает тени при наведении */
    border: none; /* Убирает рамку при наведении */
    outline: none; /* Убирает обводку при фокусе */
    cursor: pointer; /* Курсор меняется на указатель при наведении */
}

.category:hover, .product:hover {
    border: none; /* Убирает рамку при наведении на элемент */
    box-shadow: none; /* Убирает тени при наведении на элемент */
    outline: none; /* Убирает обводку при фокусе на элемент */
    cursor: pointer; /* Меняет курсор на указатель при наведении */
}