.modal {
    display: none;
    justify-content: center;
    align-items: flex-end; /* Выравниваем по нижнему краю */
    position: fixed;
    z-index: 1500;
    left: 0;
    bottom: 0; /* Фиксируем у нижней части экрана */
    width: 100%;
    height: auto; /* Высота окна настраивается автоматически */
    background-color: rgba(0, 0, 0, 0.0); /* Полупрозрачный фон для модального слоя */
    padding-bottom: 20px; /* Отступ от нижнего края экрана */
    /* transition: opacity 0.3s ease; Плавное проявление */
}

.modal.show {
    opacity: 1; /* Прозрачность модального окна */
    display: block; /* Отображаем модальное окно */
    visibility: visible; /* Видимость окна */
}

.modal-content {
    background-color: #3d405b; /* Темно-синий фон для содержимого модального окна */
    margin: auto; /* Центровка содержимого */
    padding: 25px; /* Внутренний отступ */
    border-radius: 10px; /* Скругление углов */
    max-width: 500px; /* Максимальная ширина */
    text-align: left; /* Выравнивание текста по левому краю */
    color: #f4f1de; /* Светлый цвет текста */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5); /* Более заметная тень для объема */
}

.item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #f2cc8f; /* Цвет для позиции */
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.quantity-button {
    background-color: #e07a5f; /* Цвет кнопок */
    border: none;
    border-radius: 4px;
    width: 18px; /* Уменьшенная ширина */
    height: 18px; /* Уменьшенная высота */
    font-size: 0.8rem; /* Уменьшенный размер текста */
    color: #f4f1de; /* Светлый текст */
    cursor: pointer;
    transition: background-color 0.2s;
}


.quantity-button:hover {
    background-color: #f2cc8f; /* Изменение цвета на при наведении */
}

.quantity-controls input {
    width: 50px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #e07a5f;
    border-radius: 5px;
    background-color: #f2cc8f;
    color: #3d405b;
}
/* Стили для кнопки закрытия */
.close {
    color: #f2cc8f; /* Цвет крестика закрытия */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #e07a5f; /* Изменение цвета на акцентный при наведении */
}



/* button {
/*     background-color: #2B9E7D; /* Основной цвет кнопки */
/*     color: white; /* Цвет текста на кнопке */
/*     padding: 10px 20px; /* Внутренние отступы кнопки */
/*     border: none; /* Без рамки */
/*     border-radius: 5px; /* Скругленные углы кнопки */
/*     cursor: pointer; /* Курсор-указатель при наведении */
/*     margin-top: 20px; /* Отступ сверху */
/* }
/* 
/* button:hover {
/*     background-color: #3f9e83; /* Светло-зеленый при наведении */
/* }