<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Категории товаров</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/layout.css">

</head>
<body>
    <!-- <h1>Категории</h1> -->   
    <!-- Сетка категорий -->
    <div class="categories">
        {% for category in categories %}
            <div class="category">
                <!-- Кликабельная картинка категории -->
                <a href="/category/{{ category.id }}">
                    <img src="{{ category.icon_url }}" alt="{{ category.name }}">
                </a>
                <!-- Кликабельное название категории -->
                <a href="/category/{{ category.id }}">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>

    <!-- Кнопки "Задачи", "Продажи" и "Выйти" -->
    <div class="buttons">
        {% if user == 'admin' %}
            <!-- Кнопка "Задачи" для админа -->
            <button type="button" class="button button-green" onclick="window.location.href='/admin/tasks'">Задачи</button>
            <!-- Кнопка "Продажи" для админа -->
            <button type="button" class="button button-orange" onclick="window.location.href='/admin/sales'">Продажи</button>
        {% else %}
            <!-- Кнопка "Задачи" для всех пользователей кроме админа -->
            <button type="button" class="button button-green" onclick="window.location.href='/user/tasks'">Задачи</button>
            <!-- Кнопка "Продажи" для всех пользователей кроме админа -->
            <button type="button" class="button button-orange" onclick="window.location.href='/user/sales'">Продажи</button>
        {% endif %}
        <!-- Кнопка "Выйти" -->
        <button type="button" class="button button-red" onclick="window.location.href='/logout'">Выйти</button>
    </div>

</body>
</html>