<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Задачи</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/tables.css">
    <link rel="stylesheet" href="/static/css/modals.css"> <!-- для модальных окон -->
    <link rel="stylesheet" href="/static/css/notifications.css"> <!-- для уведомлений -->
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Время создания</th>
                <th>Описание</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr onclick="showTaskDetails({{ task.id }})">
                <td>{{ loop.index }}</td>
                <td>{{ task.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ task.task_description }}</td>
                <td>{{ "Выполнено" if task.is_completed else "Не выполнено" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Кнопки в нижней части экрана -->
    <div class="buttons">
        {% if user == "admin" %}
        <button type="button" class="button button-blue" onclick="window.location.href='/register'">Регистрация</button>
        <button type="button" class="button button-green" onclick="openAddTaskModal()">Добавить задачу</button>
        {% else %}
            {% if user.is_working == 0 %}
            <button type="button" class="button button-green" onclick="startShift()">Начать смену</button>
            {% else %}
            <button type="button" class="button button-red" onclick="endShift()">Завершить смену</button>
            {% endif %}
        {% endif %}
        <button type="button" class="button button-yellow" onclick="window.location.href='/'">Категории</button>
    </div>

    <!-- Модальное окно для просмотра задачи -->
    <div id="view-task-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeTaskModal()">&times;</span>
            <h2>Информация по задаче</h2>
            <p id="task-details"></p>
        </div>
    </div>

    <!-- Модальное окно для добавления задачи -->
    <div id="add-task-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddTaskModal()">&times;</span>
            <h2>Добавить новую задачу</h2>
            <form id="add-task-form">
                <div>
                    <textarea id="task_description" name="task_description" rows="8" cols="50" required></textarea>
                </div>
                <div>
                    <label for="user_id">Выберите пользователя:</label>
                    <select id="user_id" name="user_id" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <button type="button" class="button button-blue" onclick="submitTask()">Добавить</button>
            </form>
        </div>
    </div>

    <script>
        // Открытие модального окна задачи
        function showTaskDetails(taskId) {
            fetch(`/task/${taskId}`)
                .then(response => response.json())
                .then(data => {
                    let details = `
                        <strong>Номер задачи:</strong> ${data.id}<br>
                        <strong>Описание:</strong> ${data.task_description}<br>
                        <strong>Статус:</strong> ${data.is_completed ? "Выполнено" : "Не выполнено"}<br>
                        <strong>Время создания:</strong> ${data.created_at}<br>
                        <br>
                    `;
                    if (!data.is_completed) {
                        details += `
                            <div class="button-container" style="display: flex; gap: 10px;">
                                <button class="button button-green" onclick="completeTask(${taskId})">Выполнено.</button>
                                <button class="button button-orange" onclick="window.location.href='/user/tasks'">Позже.</button>
                            </div>
                            
                        `;
                    }
                    
                    document.getElementById('task-details').innerHTML = details;

                    // Показать модальное окно задачи
                    document.getElementById('view-task-modal').style.display = 'block';
                })
                .catch(error => console.error('Ошибка:', error));
        }

        // Закрытие модального окна задачи
        function closeTaskModal() {
            document.getElementById('view-task-modal').style.display = 'none';
        }

        // Открытие модального окна для добавления задачи
        function openAddTaskModal() {
            document.getElementById('add-task-modal').style.display = 'block';
        }

        // Закрытие модального окна для добавления задачи
        function closeAddTaskModal() {
            document.getElementById('add-task-modal').style.display = 'none';
        }

        function showNotification(message) {
            var notification = document.createElement("div");
            notification.classList.add("notification-success");
            notification.innerText = message;

            document.body.appendChild(notification);

            setTimeout(function() {
                notification.classList.add('show');
            }, 10);

            setTimeout(function() {
                notification.classList.remove('show');
                setTimeout(function() {
                    notification.remove();
                }, 500);
            }, 2000);
        }

        function submitTask() {
            const taskDescription = document.getElementById("task_description").value;
            const userId = document.getElementById("user_id").value;

            fetch('/admin/add-task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    task_description: taskDescription,
                    user_id: userId
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showNotification('Задача успешно добавлена.')
                    closeAddTaskModal();
                    location.reload();
                } else {
                    alert("Ошибка при добавлении задачи");
                }
            })
            .catch(error => console.error("Ошибка:", error));
        }

        function completeTask(taskId) {
            fetch(`/task/${taskId}/complete`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                showNotification(data.message);
                location.reload(); // Обновление страницы
            })
            .catch(error => console.error('Ошибка:', error));
        }
                
        function startShift() {
            fetch('/start-shift', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                location.reload();
            })
            .catch(error => console.error('Ошибка:', error));
        }

        function endShift() {
            fetch('/end-shift', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                location.reload();
            })
            .catch(error => console.error('Ошибка:', error));
        }
    </script>
</body>
</html>